*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    text-align: center;
}
h1{
    text-decoration: underline;
}
p{
    color: #a52a2a;
    color: red;
    line-height: 30px;
}
h3{
    color: black;
}
a{
    color: green;
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: #000;
}
