h1{
    text-align: center;
}
div{
    height: 50px;
    width: 50px;
    background-color: #eee;
    border: 1px solid black;
    animation: heightwidth 2s ease-in 0s infinite forwards ;
}
@keyframes heightwidth {
    0%{
        width: 50px;
        background-color: pink;
        border-top-right-radius: 10px;
        border-bottom-right-radius:10px;

    }
    25%{
        width: 100px;
        background-color: green;
    }
    75%{
        width:10px ;
        background-color: yellow;
        border-top-right-radius: 50px;
        border-bottom-right-radius:50px;
    }
    100%{
        width: 100%;
        background-color: red;
        border-top-right-radius: 30%;
        border-bottom-right-radius: 30%;
    }
}