#box1{
    height: 100px;
    width: 100px;
    background-color: red;
    transition: width 1s ease-in 0.5s;
}
#box1:hover{
    width: 200px;
}
#box2{
    height: 100px;
    width: 100px;
    background-color: green;
    transition: transform 1s ;
}
#box2:active{
    transform: translate(200px,200px) rotate(90deg);
}
#box3{
    height: 100px;
    width: 100px;
    background-color: lightblue;
    transition: transform 1s ;
}
#box3:hover{
    transform: skewX(20deg)
}
#box4{
    height: 100px;
    width: 100px;
    background-color: gold;
    box-shadow: 2px 2px 5px green;
}
#myPic{
    height: 200px;
    width: 200px;
    background-image: url("anil-kapoor-176-12-09-2017-07-42-36.avif");
    background-size: cover;
    opacity: 50%;
}