.container{
    height: 300px;
    width: 600px;
    background-color: black;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);
    row-gap: 10px;
}
.container div{
    /* height: 50px;
    width: 50px; */
    background-color: green;
    border: 2px solid black;
    text-align: center;
    font-size: 4 0px;
}
#one{
    grid-row-start: 1;
    grid-row-end: 3;
}
#two{
    grid-column-start: 2;
    grid-column-end: 4;
}